<% if current_user %>
	<div class="alert alert-block">
	  <p id='notice'> Why are you trying to login again? :\ </p>   
	</div>
<% else %>
	<%= form_tag sessions_path do %>
	  <div class="field">
	    <%= label_tag :email %>
	    <%= text_field_tag :email, params[:email] %>
	  </div>
	  <div class="field">
	    <%= label_tag :password %>
	    <%= password_field_tag :password %>
	  </div>
	  <div class="actions"><%= submit_tag "Log In" %></div>
	<% end %>
<% end %>