<div class="calendar">
  <div class="month">
    <div class="adm-arrow cal-back" data-month="<%= (@date.beginning_of_month-1).strftime("%m") %>" data-year="<%= (@date.beginning_of_month-1).strftime("%Y") %>">
      <i class="icon-arrow-left-2"></i>
    </div>
    <h2 class="month-header"><%= h @date.strftime('%B %Y')%></h2>
    <div class="adm-arrow cal-forward" data-month="<%= (@date.end_of_month+1).strftime("%m") %>" data-year="<%= (@date.end_of_month+1).strftime("%Y") %>">
      <i class="icon-arrow-right-2"></i>
    </div>
  </div>
  <%= calendar_for @bookings, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head(
      '<strong>S</strong><span>unday</span>',
      '<strong>M</strong><span>onday</span>', 
      '<strong>T</strong><span>uesday</span>', 
      '<strong>W</strong><span>ednesday</span>', 
      '<strong>T</strong><span>hursday</span>', 
      '<strong>F</strong><span>riday</span>', 
      '<strong>S</strong><span>aturday</span>')%>
    <%= calendar.day(:day_method => :date) do |date, bookings| %>
      <div class="calendar-day" data-day="<%= date.day %>" data-month="<%= date.month %>" data-year="<%= date.year %>">
      <%= date.day %>
        <ul class="listing">

          <% num_pages = 0 %>
          <% for booking in bookings %>
            <% num_pages += booking.pages.length %>
          <% end %>
          <div>
            <li><span class="number"><%= bookings.length %></span><i class="icon-notebook"></i></li>
            <li><span class="number"><%= num_pages %></span><i class="icon-file-4"></i> </li>
          </div>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>