<%= render "shared/alertnotice" %>
<br>
<br>

<div class="calendar">
  <h2 class="month">
    <%= link_to "<", bookings_path(:month => (@date.beginning_of_month-1).strftime("%Y-%m")) %>
    <%= h @date.strftime('%B %Y')%>
    <%= link_to ">", bookings_path(:month => (@date.end_of_month+1).strftime("%Y-%m")) %>
  </h2>
<%= calendar_for @bookings, :year => @date.year, :month => @date.month do |calendar| %>
  <%= calendar.head(
    'Sunday',
    'Monday', 
    'Tuesday', 
    'Wednesday', 
    'Thursday', 
    'Friday', 
    'Saturday')%>
  <%= calendar.day(:day_method => :date) do |date, bookings| %>
  <div class="calendar-day" data-day="<%= date.day %>">
    <%= date.day %>
    <ul>
      <% for booking in bookings %>
      <li><%= link_to h(booking.client.name), booking %></li>
      <% end %>
    </ul>
  </div>
    <% end %>
  <% end %>
</div>

<table cellpadding="0" cellspacing="0" class="calendar-week">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
<!--     for each day in the week, do |x|
      display client name as a link inside each td
 -->

<% count = 0 %>
<% 7.times do %>
  <td>
  <% if !@booking_by_week_day.nil? %>
    <% @booking_by_week_day.each do |day, bookings| %>
      <% if day == count %>
        <ul>
        <% bookings.each do |booking| %>
          <li><%= booking.client.name %></li>
        <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
  <% count = count+1 %>
  </td>
<% end %>

  </tr>
</table>



















