<div class="adm-midfloat-box">
  <%= render "shared/alertnotice" %>
  <%= form_for @booking do |f| %>
    <div class="adm-input">
    	<span class="label">Date</span> 
      <span class="data-field"><%= @booking_date.strftime("%e %B %Y") %></span>
      <%= f.hidden_field(:date, :value => params[:date]) %>
    </div>

    <div class="adm-input">
      <span class="label">Page</span>
      <span class="data-field"><%= @page_name %></span>
      <%= f.hidden_field(:page_id, :value => params[:page_id]) %>
    </div>
    
    <div class="adm-input">
      <span class="label">
        <%= f.label :client, "Client" %>
      </span>
      <%= select("booking","client_id", Client.all.collect {|c| [ c.name, c.id ]}, {:prompt => 'Select A Client'}) %>
    </div>

    <div class="adm-input">
      <span class="label">
        <%= f.label :product, "Product" %>
      </span>
        <%= f.text_field :product %>
    </div>

    <div class="adm-input">
      <span class="label">
        <%= f.label :contract_num, "Contract Number" %>
      </span>
        <%= f.text_field :contract_num %>
    </div>

    <div class="adm-input">
      <span class="label">
        <%= f.label :info, "More Info" %>
      </span>
        <%= f.text_field :info %>
    </div>

   <div class="actions adm-button">
    <%= f.submit "Book Now"%>
     </div>
  <% end %>

</div>