<div class="adm-midfloat-box">
  <%= form_for @booking do |f| %>
    <div class="adm-input">
    	<%= f.label :date, "Date:" %>
    	<%= f.text_field :date,
    				value: @booking_date.strftime("%e %B %Y"),
    				disabled: true, :class => "adm-date-query" %>
    </div>
    <div class="adm-input">
      <%= f.label :client, "Client:" %>
      <%= select("booking","client_id", Client.all.collect {|c| [ c.name, c.id ]}) %>
    </div>
    <%= f.submit "Book Now", 
     :class => "adm-button adm-button-main"%>
  <% end %>
</div>