
<div class="adm-midfloat-box">
  <%= render "shared/alertnotice" %>
<%= form_tag(:action => "search") do %>

  <div class="adm-input">
    <span class="label"><%= label_tag(:"date-picker", "Date")%></span>
    <%= datetime_field_tag(:"date-picker")%>
  </div>
  <div class="adm-input dropdown">
    <span class="label"><%= label_tag :page, "Page" %></span>
    <%= select("query","page_id",
     Page.all.collect {|p| [ p.name, p.id ]}, {:prompt => 'Select A Page'}) %>
  </div>
  <div class="actions adm-button">
    <%= submit_tag "Search" %>
  </div>
<% end %>
</div>
