<div class="adm-midfloat-box">
<%= form_tag(:action => "search") do %>

  <div class="adm-input">
    <%= label_tag(:"date-picker", "Date:")%>
    <%= datetime_field_tag(:"date-picker")%>
  </div>
  <div class="adm-input">
    <%= label_tag :page, "Page:" %>
    <%= select("query","page_id",
     Page.all.collect {|p| [ p.name, p.id ]}) %>
  </div>
<%= submit_tag "Search", :class => "adm-button adm-button-main" %>
<% end %>
</div>
