<div class="adm-midfloat-box">
<%= form_tag(:action => "search") do %>

  <div class="adm-input">
    <%= label_tag(:"date-picker", "Date:")%>
    <%= datetime_field_tag(:"date-picker")%>
  </div>
  <div class="adm-input">
    <%= label_tag :page, "Page:" %>
    <%= select("params","page_id", Page.all.collect {|p| [ p.name, p.id ]}) %>
  </div>
<%= submit_tag "Search", :class => "adm-button adm-button-main" %>
<% end %>
</div>



<%#= form_tag(:action => 'search') do %>
  <!-- <p> -->

  	<%#= date_select("search", 
    	:default => Date.today,
    	:start_year => Date.today.year, 
    	:end_year => Date.today.year + 10) %>

   
		<%#= submit_tag "Search", :name => nil %>
  <!-- </p> -->
<%# end %>
