  <%= render "shared/alertnotice" %>
ID of Booking: <%= @booking.id %>
<br>
Date: <%= @booking.date %>
<br>
Client Name: <%= @booking.client.name %>
<br>
Product: <%= @booking.product %>
<br>
Contract Number: <%= @booking.contract_num %>
<br>
Info: <%= @booking.info %>
<br>
Pages Booked:
<% @booking.pages.load.each do |p| %>
  <span class="quick-tag"><%= p.name %></span>
<% end %>

