  <%= render "shared/alertnotice" %>
<%= @booking.id %>
<br>
<%= @booking.date %>
<br>
<%= @booking.client.name %>
<br>
<% @booking.pages.load.each do |p| %>
	<span class="quick-tag"><%= p.slug %></span>
<% end %>

