<% provide(:body_class, "sign_up") %>
<div class="adm-midfloat-box user-signup">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="adm-input">
    <span class="label">
    <%= f.label :email %>
  </span>
    <%= f.text_field :email %>
  </div>
  <div class="adm-input">
    <span class="label">
    <%= f.label :password %>
    </span>
    <%= f.password_field :password %>
  </div>
  <div class="adm-input">
    <span class="label">
    <%= f.label :password_confirmation, "Confirm Password" %>
    </span>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit, class: "adm-button" %></div>
<% end %>
</div>