Add New Pages Page!

<%= form_for @page do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug, "URL" %>
    <%= f.text_field :slug %>
  </div>
  <div class="actions">
    <%= submit_tag "Add Page" %>
  <div>
<% end %>
