<div class="adm-midfloat-box">
  <%= render "shared/alertnotice" %>
  <%= form_for @page do |f| %>
    <div class="adm-input">
      <span class="label">
        <%= f.label :name %>
      </span>
      <%= f.text_field :name %>
    </div>
    <div class="adm-input">
      <span class="label">
        <%= f.label :slug, "URL" %>
      </span>
      <%= f.text_field :slug %>
    </div>
    <div class="actions adm-button">
    <%= submit_tag "Add Page" %>
  </div>
  <% end %>
</div>