<!DOCTYPE html>
<html>
<head>
  <title>AdMan</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body <%= yield :login_page %>>
	<div class="nav-header">
		<div class="container">
			<div class="brand logo">
				<% if current_user %>
					<%= link_to "adMan", bookings_path %>
				<% else %>
					<%= link_to "adMan", root_path %>
				<% end %>
			</div>
			<div class="nav-links">
				<ul class="nav">
					<% if current_user %>
					
						<li><%= link_to "Add New Client", new_client_path %></li>
						<li><%= link_to "Add New Page", new_page_path %></li>
						<li><%= link_to "Log Out", logout_path %></li>
					<% end %>
				</ul>
			</div>
		</div>	
	</div>
	<div class="main-container">
		<div class="container">
			<%= yield %>
		</div>
	</div>
</body>
</html>
