<!DOCTYPE html>
<html>
<head>
  <title>AdMan</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="brand">
				<a href="../">adMan</a>
			</div>
			<div class="nav pull-right">
				<ul class='nav'>
					<% if current_user %>
						<li><%= link_to "Add New Client", new_client_path %></li>
						<li><%= link_to "Log Out", logout_path %></li>
						<li><%= link_to "Add New Page", new_page_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>	
</div>
		<div class="container" style='margin-top:90px'>
			<% if flash[:notice] %>
			  <div class="alert alert-block">
			    <p id='notice'><%= flash[:notice]%></p>   
			  </div>
			<% end %>

			<% if flash[:alert] %>
			  <div class="alert alert-block">
			    <p id='alert'><%= flash[:alert] %></p>
			  </div>
			<% end %>
			<%= yield %>
		</div>
	</body>
</html>
